.html_Cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4); 
    grid-auto-rows: 40px;
    gap: 10px; 
    width: 500px;
   
    
    
}
.html_Card{
    width: 200px;
    height: 40px;
    display: flex;
    
    
    
  
}
.card1{ 
    
    
    background-color: aquamarine;
    

}

.card2{ 
    
    
    background-color: olive;
    
  
}
.card3{
    
    
    background-color: aqua;
    
    
}
.card4{
    
    
    background-color: red;
    
}

.card5{ 
    
    
    background-color: aquamarine;
    

}

.card6{ 
    
    
    background-color: olive;
    
  
}
.card7{
    
    
    background-color: aqua;
    
    
}
.card8{
    
    
    background-color: red;
    
}